*.class
*.log
.bloop/
.metals/
.vscode/
.cache/
.bsp/
target/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
project/metals.sbt
project/project/
project/.bloop/
project/target/